<div id="store-slider" class="royalslider rsMinW">

{% for i in (1..6) %}
{% capture display_product %}show_homeslide_item_{{ i }}{% endcapture %}
{% capture image %}homeslide-item-{{ i }}.jpg{% endcapture %}
{% capture link %}homeslide_item_{{ i }}_link{% endcapture %}
{% capture alt %}homeslide_item_{{ i }}_alt{% endcapture %}
{% capture sub %}homeslide_item_{{ i }}_sub{% endcapture %}
{% capture dark %}darken_homeslide_{{ i }}{% endcapture %}
{% if settings[display_product] %}

<div class="slide {% if settings[dark] %}dark{% endif %}" style="background-image:url('{{ image | asset_url }}');">
  <div class="row">
    <div class="desktop-12">
      <div class="row">
        <div class="desktop-6 tablet-6 mobile-3 text-center boundary">
          <div class="wrapped">
            <div class="table">
              <div class="cell">
                <div class="wrapper">
                  <a href="{{ settings[link] }}">
                    <span class="cat">{{ settings[sub] }}</span>
                    <h3>{{ settings[alt] }}</h3>
                    <span class="button hollow">View More</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slide-shadow"></div>
</div>

{% endif %}
{% endfor %}

</div>

{% if admin %}
<!-- User is an admin -->
{% else %}
<!-- User is not an admin -->
{% endif %}

<div id="store-bar" class="toolbar">
  <div class="row">
    <div class="max-9 desktop-9 tablet-3 mobile-2 min-2">
      <ul class="nav sf-menu">
      <li><a href="/" class="title">The Library Store</a></li>
      <li class="show-mobile"><a id="menu-toggle" href="collections.html" class="site-nav__link">Menu</a></li>
      {% for link in linklists.main-menu.links %}
      <li class="hide-mobile{% if link.active %} current-menu-item {% endif %}">
        <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
      </li>
      {% endfor %}
      </ul>
    </div>
    <div class="max-3 desktop-3 tablet-3 mobile-1 min-1 text-right">
      <ul class="nav">
        <li class="cart">
          <a href="/search" class="search ss-search ss-gizmo"></a> | 
          <div class="cart-wrapper">
            <a href="#" id="CartToggle" class="ss-cart ss-gizmo">
              <span class="icon-fallback-text"><span class="icon icon-cart" aria-hidden="true"></span></span>
              <span class="cart-count">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
              
            </a>
            <div class="cart-items-wrap" data-cart-view="data-cart-view">
              <div class="cart-items" rv-each-item="cart.items">
                {% include 'cart-contents' %}
              </div>
              <div class="wrapper"><a href="/cart" class="checkout cart-icon ss-gizmo ss-right right">Checkout</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="store-bar-mobile" class="toolbar">
  <div class="row">
    <div class="desktop-12 tablet-6 mobile-3">
      <ul class="nav sf-menu">
      {% for link in linklists.main-menu.links %}
      <li {% if link.active %}class="current-menu-item"{% endif %}><a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div id="store-intro">
  <div class="row">
    <div class="desktop-8 tablet-4 mobile-3">
      <h2>{{ settings.store_intro }}</h2>
    </div>
    <div class="desktop-4 tablet-2 mobile-3">
      {% include 'mailchimp' %}
    </div>
  </div>
</div>

<div id="store-collections">
  <div class="row">
    {% for collection in collections %}

    <a id="{{ collection.handle }}" href="{{ collection.url }}" class="collection-item desktop-3 tablet-3 mobile-3 text-center">
      <img src="{{ collection.image.src | img_url: 'large' }}" alt="{{ collection.title }}" class="img-responsive" />
      <h3 class="title">{{ collection.title }}</h3>
    </a>

    {% cycle 'clear-product-loop': '', '', '', '<div style="clear:both;"></div>' %}
    {% endfor %}
  </div>
</div>